In [34]:
import pandas as pd
import ppscore as pps
import seaborn as sns

In [2]:
df_forecast = pd.read_csv("forecast_starting_data.csv")

In [3]:
df_forecast

,financial_active,net_payment_behaviour_tripd,promotion_flag,variable_rate_index,account_status_code,active_12_mths,bank_fico_buckets_20,charge_off_reason_code,mob,open_closed_flag,...,due_balance_2,due_balance_3,due_balance_4,due_balance_5,due_balance_6,due_balance_7,due_balance_8,snapshot,mth_code,industry
0,1.0,T,0,0,I 0-6,1.0,761+,NaN,42,1.0,...,0.00,0.0,0.0,0.0,0.0,0.0,0.0,202001,202001,B
1,0.0,P,0,0,A,1.0,761+,NaN,48,1.0,...,0.00,0.0,0.0,0.0,0.0,0.0,0.0,202001,202001,B
2,0.0,C,0,0,I 0-6,0.0,761+,NaN,244,1.0,...,0.00,0.0,0.0,0.0,0.0,0.0,0.0,202001,202001,A
3,1.0,R,0,0,I 0-6,1.0,621-640,NaN,76,1.0,...,0.00,0.0,0.0,0.0,0.0,0.0,0.0,202001,202001,A
4,1.0,P,0,0,I 0-6,1.0,761+,NaN,143,1.0,...,0.00,0.0,0.0,0.0,0.0,0.0,0.0,202001,202001,C
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19861,1.0,I,1,0,I 13-24,1.0,621-640,NaN,26,1.0,...,1363.04,0.0,0.0,0.0,0.0,0.0,0.0,202001,202001,A
19862,0.0,R,1,0,A,1.0,641-660,NaN,299,1.0,...,0.00,0.0,0.0,0.0,0.0,0.0,0.0,202001,202001,C
19863,1.0,I,0,0,I 0-6,1.0,741-760,NaN,4,1.0,...,0.00,0.0,0.0,0.0,0.0,0.0,0.0,202001,202001,C
19864,1.0,P,1,1,A,1.0,701-720,NaN,24,1.0,...,0.00,0.0,0.0,0.0,0.0,0.0,0.0,202001,202001,B
19865,0.0,I,1,0,A,0.0,721-740,NaN,19,1.0,...,0.00,0.0,0.0,0.0,0.0,0.0,0.0,202001,202001,C

In [5]:
df_forecast.columns

Index(['financial_active', 'net_payment_behaviour_tripd', 'promotion_flag',
       'variable_rate_index', 'account_status_code', 'active_12_mths',
       'bank_fico_buckets_20', 'charge_off_reason_code', 'mob',
       'open_closed_flag', 'ever_delinquent_flg', 'nbr_mths_due',
       'variable_rate_margin', 'stmt_balance', 'prev_balance', 'net_sales',
       'net_payments', 'purchase_active', 'credit_limit_amt',
       'credit_limit_pa', 'closed', 'active', 'charge_off', 'charge_off_aged',
       'charge_off_bk', 'principal_amt', 'principal_amt_chrg_off',
       'total_writeoff_amt', 'fee_chg_off_reversal_amt', 'net_finance_charge',
       'non_principal_amount_gross', 'non_principal_amount_net',
       'non_principal_amount_stmt', 'aged_writeoff_amt',
       'bankruptcy_writeoff_amt', 'fc_reversals', 'fee_reversals',
       'fraud_writeoff_amt', 'other_writeoff_amt', 'promo_bal_amt',
       'recovery_amt', 'writeoff_type_bko', 'writeoff_type_fraud_kiting',
       'writeoff_type_fraud_synthetic', 'writeoff_type_deceased',
       'writeoff_type_other', 'writeoff_type_aged', 'writeoff_type_settlement',
       'writeoff_type_fraud_other', 'writeoff_type_repo', 'writeoff_type_null',
       'writeoff_date', 'due_account_2', 'due_account_3', 'due_account_4',
       'due_account_5', 'due_account_6', 'due_account_7', 'due_account_8',
       'due_balance_2', 'due_balance_3', 'due_balance_4', 'due_balance_5',
       'due_balance_6', 'due_balance_7', 'due_balance_8', 'snapshot',
       'mth_code', 'industry'],
      dtype='object')

In [6]:
df_training = pd.read_csv("training_data.csv")

/var/folders/qk/_5glkdns4bnc7kqq_1grbvd80000gn/T/ipykernel_57329/3813615909.py:1: DtypeWarning: Columns (51) have mixed types. Specify dtype option on import or set low_memory=False.
  df_training = pd.read_csv("training_data.csv")

In [7]:
df_training.head()

,financial_active,net_payment_behaviour_tripd,promotion_flag,variable_rate_index,account_status_code,active_12_mths,bank_fico_buckets_20,charge_off_reason_code,mob,open_closed_flag,...,due_balance_2,due_balance_3,due_balance_4,due_balance_5,due_balance_6,due_balance_7,due_balance_8,snapshot,mth_code,industry
0,1.0,P,0,0,I 0-6,1.0,581-600,NaN,3,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,201801,201807,B
1,0.0,P,0,0,I 0-6,1.0,721-740,NaN,159,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,201801,201906,C
2,1.0,T,0,0,I 7-12,1.0,761+,NaN,22,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,201801,201905,A
3,1.0,T,0,1,I 0-6,1.0,761+,NaN,16,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,201801,201806,B
4,1.0,P,0,0,A,0.0,721-740,NaN,3,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,201801,201902,B

In [11]:
len(df_training[df_training["charge_off"] == 0])

5742525

In [13]:
pps.score(df_training, x = "x", "y")

ValueError: The 'x' argument should be the name of a dataframe column but the variable that you passed is not a column in the given dataframe.
Please review the column name or your dataframe

In [25]:
df_training_corr = df_training.corr()

/var/folders/qk/_5glkdns4bnc7kqq_1grbvd80000gn/T/ipykernel_57329/1947371405.py:1: FutureWarning: The default value of numeric_only in DataFrame.corr is deprecated. In a future version, it will default to False. Select only valid columns or specify the value of numeric_only to silence this warning.
  df_training_corr = df_training.corr()

In [31]:
df_training_corr['charge_off'].sort_values(ascending = False).head(n=10)

charge_off                  1.000000
charge_off_aged             0.940572
writeoff_type_aged          0.894525
fee_reversals               0.816122
total_writeoff_amt          0.687057
fee_chg_off_reversal_amt    0.683925
aged_writeoff_amt           0.632598
principal_amt_chrg_off      0.606442
fc_reversals                0.529949
charge_off_bk               0.338776
Name: charge_off, dtype: float64

array([1., 0.])

In [ ]:
df_training_corr["charge_off"]

In [21]:
df_forecast[['financial_active', 'charge_off']]

       financial_active  charge_off
0                   1.0           0
1                   0.0           0
2                   0.0           0
3                   1.0           0
4                   1.0           0
...                 ...         ...
19861               1.0           0
19862               0.0           0
19863               1.0           0
19864               1.0           0
19865               0.0           0

[19866 rows x 2 columns]

In [23]:
pps.score(df_training, y = "net_payment_behaviour_tripd", x ="charge_off")

{'x': 'net_payment_behaviour_tripd',
 'y': 'charge_off',
 'ppscore': 0,
 'case': 'regression',
 'is_valid_score': True,
 'metric': 'mean absolute error',
 'baseline_score': 0.002,
 'model_score': 0.003983802334070399,
 'model': DecisionTreeRegressor()}

In [41]:
data = []
for column in df_training.columns:
    data.append(pps.score(df_training, x=column, y="charge_off"))

In [45]:
pd.DataFrame(data).sort_values(by="model_score", ascending = False).reset_index().head(n=10)

,index,x,y,ppscore,case,is_valid_score,metric,baseline_score,model_score,model
0,7,charge_off_reason_code,charge_off,0.000000,target_is_constant,True,None,1.0000,1.000000,None
1,22,charge_off,charge_off,1.000000,predict_itself,True,None,0.0000,1.000000,None
2,51,writeoff_date,charge_off,0.256933,regression,True,mean absolute error,0.4716,0.350430,DecisionTreeRegressor()
3,12,variable_rate_margin,charge_off,0.000000,regression,True,mean absolute error,0.0030,0.006023,DecisionTreeRegressor()
4,9,open_closed_flag,charge_off,0.000000,regression,True,mean absolute error,0.0030,0.005862,DecisionTreeRegressor()
5,29,net_finance_charge,charge_off,0.000000,regression,True,mean absolute error,0.0028,0.005583,DecisionTreeRegressor()
6,14,prev_balance,charge_off,0.000000,regression,True,mean absolute error,0.0020,0.004800,DecisionTreeRegressor()
7,66,snapshot,charge_off,0.000000,regression,True,mean absolute error,0.0020,0.004014,DecisionTreeRegressor()
8,68,industry,charge_off,0.000000,regression,True,mean absolute error,0.0020,0.003994,DecisionTreeRegressor()
9,17,purchase_active,charge_off,0.000000,regression,True,mean absolute error,0.0020,0.003993,DecisionTreeRegressor()

In [46]:
df_macro_data = pd.read_csv("macro_data.csv")

In [47]:
df_macro_data

,Mnemonic,M_FHOFHOPIPOQ.IUSA,M_FYLE.IUSA,M_FRT.IUSA,M_FYPSAVQ.IUSA,M_FC.IUSA,FYPCPICA_FEDB.IUSA,M_FGDP.IUSA,M_FYHHAVGQ.IUSA,M_FYFMMEDQ.IUSA,...,M_FBCFCOFCCQ.IUSA,M_FETP.IUSA,M_FLTV.IUSA,M_FC$.IUSA,M_FEIAMGTTQ.IUSA,M_FXCPMGASUQ.IUSA,M_FRBBBQ.IUSA,M_FHOWNRQ.IUSA,M_FIFR_FEDS.IUSA,M_FIFR$_FEDS.IUSA
0,Description,Baseline Scenario (October 2022): FHFA Purchas...,Baseline Scenario (October 2022): NIPA: Income...,Baseline Scenario (October 2022): Retail Sales...,Baseline Scenario (October 2022): Income: Pers...,Baseline Scenario (October 2022): NIPA: Person...,Baseline Scenario (October 2022): Income: Per ...,Baseline Scenario (October 2022): NIPA: Gross ...,Baseline Scenario (October 2022): Average Hous...,Baseline Scenario (October 2022): Median Famil...,...,Baseline Scenario (June 2020): Charge Off Rate...,Baseline Scenario (June 2020): Employment: Tot...,Baseline Scenario (June 2020): Terms Conventio...,Baseline Scenario (June 2020): NIPA: Personal ...,Baseline Scenario (June 2020): U.S. All Grades...,Baseline Scenario (June 2020): Motor gasoline ...,Baseline Scenario (June 2020): Merrill Lynch 1...,Baseline Scenario (June 2020): Homeownership R...,FRB CCAR 2020 - Severely Adverse: NIPA: Fixed ...,FRB CCAR 2020 - Severely Adverse: NIPA: Fixed ...
1,Name,"FHFA Purchase-Only Home Price Index, (Index 19...","NIPA: Income - Compensation of Employees, (Bil...","Retail Sales - Retail Sales Total, (Bil. USD, ...","Income: Personal - Saving Rate, (%, SA)",NIPA: Personal Consumption Expenditures - Tota...,"Income: Per Capita Income, (USD)","NIPA: Gross Domestic Product, (Bil. USD, SAAR)","Average Household Income: All Races, (USD, SA)","Median Family Income: All Races, (USD, SA)",...,Charge Off Rates: All Commercial Banks - Credi...,"Employment: Total Private, (Mil. #, SA)",Terms Conventional Mortgages: All Loans - Comp...,NIPA: Personal Consumption Expenditures - Tota...,U.S. All Grades All Formulations Retail Gasoli...,"Motor gasoline prices: Unleaded, (Cents per ga...","Merrill Lynch 10-Year Bbb Corporate Bond Rate,...","Homeownership Rate, (%, SA)","NIPA: Fixed Investment - Residential - Total, ...","NIPA: Fixed Investment - Residential - Total, ..."
2,Source,U.S. Federal Housing Finance Agency (FHFA); Fr...,U.S. Bureau of Economic Analysis (BEA); Moody'...,U.S. Census Bureau (BOC); Moody's Analytics Fo...,U.S. Bureau of Economic Analysis (BEA); Moody'...,U.S. Bureau of Economic Analysis (BEA); Moody'...,U.S. Bureau of Economic Analysis (BEA); Moody'...,U.S. Bureau of Economic Analysis (BEA); Moody'...,U.S. Census Bureau (BOC); U.S. Bureau of Econo...,U.S. Census Bureau (BOC); Moody's Analytics Fo...,...,U.S. Board of Governors of the Federal Reserve...,U.S. Bureau of Labor Statistics (BLS); Moody's...,U.S. Federal Housing Finance Board (FHFB); Moo...,U.S. Bureau of Economic Analysis (BEA); Moody'...,U.S. Energy Information Administration (EIA); ...,Oil Price Information Service (OPIS); Moody's ...,U.S. Board of Governors of the Federal Reserve...,U.S. Census Bureau (BOC); Moody's Analytics Fo...,U.S. Bureau of Economic Analysis (BEA); Moody'...,U.S. Bureau of Economic Analysis (BEA); Moody'...
3,Native Frequency,MONTHLY,MONTHLY,MONTHLY,MONTHLY,MONTHLY,ANNUAL,MONTHLY,MONTHLY,MONTHLY,...,MONTHLY,MONTHLY,MONTHLY,MONTHLY,MONTHLY,MONTHLY,MONTHLY,MONTHLY,MONTHLY,MONTHLY
4,Geography,United States,United States,United States,United States,United States,United States,United States,United States,United States,...,United States,United States,United States,United States,United States,United States,United States,United States,United States,United States
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
434,8/31/2035,517.343026,24477.50421,10683.55223,5.850066485,30258.36203,109631.1675,44455.57687,272055.4718,138308.4502,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
435,9/30/2035,518.9847037,24562.9831,10715.48389,5.856203152,30357.61418,109972.5749,44603.62923,272841.9069,138661.205,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
436,10/31/2035,520.6395684,24648.90071,10747.43959,5.862511348,30457.45432,110315.0369,44752.64789,273634.1101,139016.3131,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
437,11/30/2035,522.3014679,24734.91827,10779.51758,5.867732723,30557.72092,110658.5679,44902.08578,274426.9813,139373.9061,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
438,12/31/2035,523.9668129,24820.87659,10811.8076,5.871134198,30658.34089,111003.2058,45051.62167,275217.6797,139734.0124,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [48]:
df_training_no_charge_off = df_training[df_training['charge_off'] == 0]

In [53]:
df_charge = df_training[df_training['charge_off'] == 1]

In [54]:
len(df_charge)

15698

In [55]:
df_no_charge_sample = df_training_no_charge_off.sample(n=15698)

In [59]:
df_clean = pd.concat([df_charge, df_no_charge_sample], axis=0)

In [60]:
df_clean

,financial_active,net_payment_behaviour_tripd,promotion_flag,variable_rate_index,account_status_code,active_12_mths,bank_fico_buckets_20,charge_off_reason_code,mob,open_closed_flag,...,due_balance_2,due_balance_3,due_balance_4,due_balance_5,due_balance_6,due_balance_7,due_balance_8,snapshot,mth_code,industry
337775,1.0,D,1,1,A,1.0,641-660,NaN,8,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,201801,201802,C
337776,1.0,P,1,0,A,1.0,<= 560,NaN,13,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,201801,201903,A
337777,1.0,D,0,0,I 0-6,1.0,641-660,NaN,27,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,201801,201904,A
337778,0.0,D,1,0,A,1.0,621-640,NaN,2,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,201801,201803,C
337779,1.0,D,0,0,A,1.0,<= 560,NaN,20,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,201801,201808,B
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4834910,1.0,P,0,0,A,1.0,721-740,NaN,24,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,201903,201908,B
5561778,0.0,D,1,0,A,1.0,681-700,NaN,87,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,201908,201908,B
411118,0.0,P,0,0,A,1.0,761+,NaN,94,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,201802,201810,B
5428097,0.0,I,1,0,A,0.0,741-760,NaN,39,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,201907,201911,A
1616741,1.0,P,0,1,I 13-24,1.0,661-680,NaN,12,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,201804,201912,B

In [61]:
data = []
for column in df_clean.columns:
    data.append(pps.score(df_clean, x=column, y="charge_off"))

In [63]:
df_random_pps = pd.DataFrame(data)